*{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin: 0 ;
     padding: 0;
     border: none;
     box-sizing: border-box;
}
hr{
    border: 1px #000 solid;
    margin: 10px;
}
body{
     min-height: 100vh;
     background: linear-gradient(0deg, rgba(0,0,0,1) 1%, rgba(51,51,51,1) 25%, rgba(0,0,0,1) 100%);
     background-image: url(imgs/download.jfif);
     background-size: auto;
}
#site{
    width: 1024px;
    background-color: rgba(150, 150, 150, 0.918);
    margin: 20px auto ;
    border-radius: 15px;
}
#batopo{
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px 0 20px;

}
#bat-busca{
  flex-grow: 1;
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: flex-end;

}
#busca{
   border: 2px solid #515151;
   padding: 3px;

}
#bat-busca button{
    background: transparent;
    cursor: pointer;   
}
#bat-busca button svg{
    transition: all 300ms;

}
#bat-busca button:hover svg{
    stroke: #888;

}
#menu{
   background:#333;
   margin: 10px;
   height: 30px;

   display: flex;
   align-items: center;
   padding: 15px;
   gap: 20px;

}
#menu a{
     color: #fff;  
     text-decoration: none;
     transition: all 300ms;
     
}
#batopo h2{
      
    font-family: 'Bangers', cursive;
    font-size: 3.5em;
    text-shadow:   3px -3px#FEF111,
                  -3px 3px#FEF111,
                  -3px -3px#FEF111,
                   3px 3px#FEF111;    


}
#menu a:hover{
     color:   #FEF111;

}
.produto{
     margin: 20px;


}
.container-produto{
     display: flex;
     align-items: flex-start;
}
.container-produto img{
    flex-grow: 0.1;
}
.container-produto .dados-produto{
    flex-grow: 0.2;

}
.dados-produto p{
    margin: 10px 0;

}
.produto h1{
  font-family: 'Bangers', cursive;
  font-size: 3.0em;
  margin-bottom: 15px;
}
#preço{
  font-size: 2em;

}
.tabela{
   border: 1px solid #000;
   width: 100%;
   text-align: center;
}
.tabela tr td{
      border: 1px solid #000; 
}
.tabela th{
      color: #fff;
      background-color: #000;

}

.tabela tr:nth-child(even) td{
      background: #ffffff69;

}
#batopo{
 background-color: #333;

}
#btn-compra{
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-items: center;
  margin: 3px;

}
#btn-compra:hover{
color: #FEF111;
transition: all 300ms;

}
#btn-compra svg{
    fill: #fff;

}
#rodape{
padding: 50px;
display: flex;
text-align: center;
border-top: #000;



}
    
    

























